/*  MAIN CONTENT 
----------------------------------------------------*/

.main {
    //padding: 200px 0px 140px 0px;
    min-height: 400px;
    background-color: #D8E8ED;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#mainContent {
    padding: 10% 10px 5% 10px;
}


.main {
    h1, h2, a{
        color: #121212 ;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
    }
  
    p {
        color: #7A7A7A;
    }
    span {
        //font-weight: bold;
        color: #E09F43;
    }
}


/* DARK THEME
----------------------------------------------------*/

.main-light {
    h1, h2, a, p {
        color: white;
    }
    span {
        //font-weight: bold;
        color: #E09F43;
    }
    p {
        color: #E8E8E8;
    }
}


/* LIGHT THEME 
----------------------------------------------------*/

.main-dark {
    h1,h2,h3,a,p {
        color: black;
    }
}

.col-centered{
    float: none;
    margin: 0 auto;
}


/* PLAY BUTTON 
----------------------------------------------------*/

.play-button {
    height: 60px;
    width: 60px;    
    //background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 100px;
    position: relative;
    margin: 20px 10px 10px 10px;
    
}

.play-button:hover {
    background-color: black;
    
    color: blue;
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 21px;
    margin: 0 auto;
    border-style: solid;
    border-width: 15px 0 15px 23px;
    border-color: transparent transparent transparent #E09F43;//#D3E043;
}

