ul#counter {
  padding: 10px 10px 25px 10px;
  list-style: none; }
  ul#counter li {
    display: inline-block;
    margin: 10px;
    font-size: 0.9em; }
    ul#counter li .timer-object {
      font-family: 'Oswald', sans-serif;
      padding: 20px;
      border-radius: 15px;
      background-color: white;
      color: black;
      font-size: 1.2em;
      width: 55px;
      height: 60px; }

@media (max-width: 530px) {
  ul#counter {
    padding: 10px 50px 25px 50px; }
    ul#counter li {
      display: block;
      margin: 5px; }
      ul#counter li .timer-object {
        padding: 15px;
        border-radius: 15px;
        width: auto;
        height: 50px; } }
/***** MODAL PROPERTIES *****/
.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: none;
  outline: none; }

.modal-content iframe {
  border: none;
  padding: 0;
  margin: 0; }

.close {
  font-size: 80px;
  margin: -20px 0 0 0; }

/***** MEDIA QUERIES *****/
@media only screen and (max-width: 641px) {
  /***** MODAL PROPERTIES *****/
  .modal-body {
    height: 100px;
    padding: 0;
    margin: 0; }

  .modal-content {
    padding: 0;
    margin: 0; }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 15px; }

  .close {
    margin: -12px 0 0 0; } }
@media only screen and (min-width: 768px) {
  /***** MODAL PROPERTIES *****/
  .close {
    font-size: 80px;
    margin: 30px -43px -20px 100px; } }
#contact-slide {
  height: auto; }
  #contact-slide h4 {
    font-weight: 600;
    text-transform: uppercase; }
  #contact-slide form {
    height: 100%;
    width: auto;
    margin: 30px;
    padding: 30px; }
  #contact-slide #details {
    height: 100%;
    background-image: url("../images/maps.png");
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden; }
    #contact-slide #details #details-info {
      background-color: #fff;
      position: relative;
      width: auto;
      max-width: 300px;
      padding: 30px 40px 30px 10px;
      margin: 30px; }
    #contact-slide #details li {
      list-style-type: none;
      padding: 10px; }
      #contact-slide #details li .glyphicon {
        padding-right: 20px; }

#reviews {
  background-color: white; }
  #reviews a {
    text-decoration: none; }
  #reviews blockquote {
    max-width: 600px;
    min-height: 200px;
    margin: 0 auto;
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: none; }
  #reviews blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a; }
  #reviews blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px; }
  #reviews blockquote cite:before {
    content: "\2014 \2009"; }
  @media (max-width: 768px) {
    #reviews blockquote {
      min-height: 330px; } }

/*  MAIN CONTENT 
----------------------------------------------------*/
.main {
  min-height: 400px;
  background-color: #D8E8ED;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-position: 50% 50%; }
  .main a {
    text-decoration: none; }
    .main a p {
      color: #E09F43; }

#mainContent {
  padding: 10% 10px 5% 10px; }

.main h1, .main h2, .main a {
  color: #121212;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold; }
.main p {
  color: #7A7A7A; }

/* DARK THEME
----------------------------------------------------*/
.main-light h1, .main-light h2, .main-light a, .main-light p {
  color: white; }
.main-light p {
  color: #E8E8E8; }

/* LIGHT THEME 
----------------------------------------------------*/
.main-dark h1, .main-dark h2, .main-dark h3, .main-dark a, .main-dark p {
  color: black; }

.col-centered {
  float: none;
  margin: 0 auto; }

/* PLAY BUTTON 
----------------------------------------------------*/
.play-button {
  height: 60px;
  width: 60px;
  border: 1px solid white;
  border-radius: 100px;
  position: relative;
  margin: 20px 10px 10px 10px; }

.play-button:hover {
  background-color: white; }

.play-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 21px;
  margin: 0 auto;
  border-style: solid;
  border-width: 15px 0 15px 23px;
  border-color: transparent transparent transparent #E09F43; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: black; }

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px; }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; } }
@media (min-width: 768px) and (max-width: 768px) {
  .navbar li {
    background-color: white; } }
.navbar {
  background-color: transparent;
  border-radius: 0;
  border-color: transparent; }
  .navbar a {
    color: black; }

.navbar {
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  /* Standard syntax */
  border: none; }
  .navbar a {
    color: white; }
  .navbar a:hover {
    color: black;
    background-color: white; }
  .navbar .active a {
    color: white;
    background-color: #E09F43; }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-radius: 4px; }

.navbar-toggle:focus {
  outline: 0; }

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

@media (min-width: 768px) {
  .navbar-toggle {
    display: none; } }
body {
  padding-bottom: 40px;
  color: #454545;
  font-family: 'Karla', sans-serif; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px; }

.marketing {
  background-color: white; }

/* Featurettes
------------------------- */
.featurette {
  background-color: #C9C9C9; }

.row {
  padding: 60px 10px 60px 10px; }

.row-minus-pad {
  padding: 0; }

.featurette-divider {
  border-color: black;
  margin: 40px 0;
  /* Space out the Bootstrap <hr> more */ }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4; }

.featurette-heading {
  font-size: 50px; }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 60px; } }
/* COMING SOON ROW 
--------------------------------------------------- */
.coming {
  background-color: #E0E0E0; }

/* CONTACT ROW 
--------------------------------------------------- */
#form {
  background-color: #C9C9C9; }

/* ICONS
---------------------------------------------------- */
.icon {
  overflow: hidden; }

.icons {
  background-color: black;
  padding: 30px 0px 30px 0px; }

.inline li {
  display: inline;
  padding: 7px; }

/* BUTTON 
------------------------------------------------------ */
.pad {
  padding: 100px; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

footer {
  background-color: #141f1f; }
  footer p {
    color: #fff; }

.btn-orange {
  background-color: orange;
  color: white; }

.btn-orange:hover {
  background-color: black;
  color: white; }

.row {
  position: relative;
  z-index: 21; }

.main {
  z-index: 19; }

/*# sourceMappingURL=style.css.map */
