@import 'colors';
@import 'timer';
@import 'video';
@import 'contact';
@import 'reviews';
@import 'landing';
@import 'nav';

body {
    padding-bottom: 40px;
    color: $mainTextColor;
    font-family: 'Karla', sans-serif; 
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing {
    background-color: white;
}


/* Featurettes
------------------------- */

.featurette {
    background-color: #C9C9C9;
}

.row {
    padding: 60px 10px 60px 10px;
}

.row-minus-pad {
    padding: 0;
}

.featurette-divider {
   

    border-color: black;
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */



  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
    
    


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 60px;
  }
}

/* COMING SOON ROW 
--------------------------------------------------- */

.coming {
    background-color: #E0E0E0;
}



/* CONTACT ROW 
--------------------------------------------------- */
#form {
    background-color: #C9C9C9;
}


/* ICONS
---------------------------------------------------- */
.icon {
    overflow: hidden;
}

.icons {
    background-color: black;
    padding: 30px 0px 30px 0px;
}
.inline {
    li {
        display: inline;
        padding: 7px;
    }
}


/* BUTTON 
------------------------------------------------------ */


.pad {
    padding: 100px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


footer {
    background-color: $dark-grey;
    p {
       // text-align: center;
      //  padding: 10px;
        color: $white;
    }
}


.btn-orange {
    background-color: orange;
    color: white;
}
.btn-orange:hover {
    background-color: black;
    color: white;
}


.row {
    position: relative;
    z-index: 21;
}
.main {
    z-index: 19;
}


